@import "tailwindcss";

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr Variable-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: auto;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/Glancyr-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply antialiased bg-[#0e0e0e] text-white overflow-x-hidden;
    font-family: 'Glancyr', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
}